.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  @media screen and (max-width: 800px) {
    margin: 10px auto 0;
    align-content: center;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    @media screen and (max-width: 800px) {
      width: 300px;
      text-align: center;
      padding: 5px 0;
    }

    .header-block {
      text-transform: capitalize;
      width: 23%;

      @media screen and (max-width: 800px) {
        width: 0%;
      }

      &:last-child {
        width: 8%;

      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;

    @media screen and (max-width: 800px) {
      margin-top: 20px;
    }
  }

  button {
    margin-top: 50px;
  }

  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;

    @media screen and (max-width: 800px) {
      font-size: 18px;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    margin: 10px auto 0;
  }
}
